:is(table, [role="grid"], [role="table"]):has(.copy-tables-selected) {
  user-select: none !important;
}

:is(
  th,
  td,
  [role="gridcell"],
  [role="columnheader"],
  [role="cell"]
).copy-tables-selected {
  background-color: rgba(0, 100, 255, 0.15);
  outline: 1px solid rgba(0, 100, 255, 0.4) !important;
}
